body {
  font-family: arial;
}

#sidebar {
  margin: 30px;
  border-radius: 10px;
  color: white;
}

#sidebar div:last-child {
  border-radius: 0 0 10px 10px;
}

#sidebar div:first-child {
  border-radius: 10px 10px 0 0;
}

#sidebar div {
  padding:15px 20px;
  width: 150px;
  text-align: center;
  background:green;
}

#sidebar div:hover {
  cursor: pointer;
  background: teal;
}

#content {
  background:rgb(200, 200, 200);
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  padding:20px;
  margin-left: 250px;
  position:absolute;
  margin-top: -275px;
  border-radius: 5px;
}

#content h1{
  text-align: center;
  color:black;
}